@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Montserrat:wght@500&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Darumadrop+One&family=Montserrat:wght@500&family=Noto+Serif+Hentaigana:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Baskervville+SC&family=Darumadrop+One&family=Montserrat:wght@500&family=Noto+Serif+Hentaigana:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Shafarik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Pochaevsk&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 32px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 29px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 31px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter,
.frontendTLetter {
  font-size: 28px;
  font-weight: 400;
  color: #009e00;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Baskervville SC", serif;
}

.didILetter,
.frontendELetter,
.developerETwoLetter,
.developerPLetter,
.developerEThreeLetter,
.developerRLetter,
.takeALetter,
.upULetter,
.upPLetter,
.becauseBLetter,
.becauseBLetter,
.becauseCLetter,
.becauseULetter,
.wantedTLetter,
.wantedELetter,
.improveVLetter,
.theirELetter,
.rootOLetter,
.rootTLetter,
.skillsLLetter {
  font-size: 30px;
  font-weight: bold;
  color: rgb(57, 174, 179);
  text-decoration: line-through;
  text-transform: full-width;
  font-family: "Noto Serif", serif;
}

/* THE word */

.theTLetter,
.frontendDLetter,
.developerVLetter {
  font-size: 32px;
  font-weight: 700;
  color: aquamarine;
  text-decoration: orange underline overline;
  text-transform: uppercase;
  font-family: "Shafarik", serif;
}

.theHLetter,
.developerDLetter,
.developerOLetter,
.takeKLetter,
.theyYLetter,
.wantedDLetter,
.improveILetter,
.improveELetter,
.theirRLetter,
.skillsLTwoLetter,
.question-mark {
  font-size: 29px;
  font-weight: 600;
  color: antiquewhite;
  text-decoration: purple dotted underline;
  text-transform: lowercase;
  font-family: cursive;
}

.didDTwoLetter,
.theELetter,
.frontendNTwoLetter {
  font-family: "Oswald", serif;
  font-size: 50px;
  font-weight: 200;
  color: #1678b1;
  text-decoration-color: powderblue;
  text-decoration-line: line-through;
  text-decoration-style: dotted;
  text-transform: none;
}

/* FRONT-END word */

.frontendFLetter,
.exclamation-mark {
  font-size: 60px;
  font-weight: 550;
  color: rgb(128, 18, 118);
  text-decoration: black underline;
  text-transform: uppercase;
  font-family: "Raleway", serif;
}

.frontendRLetter {
  font-size: 36px;
  font-weight: 25;
  color: rgb(194, 105, 22);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Manrope", serif;
}

.frontendOLetter {
  font-size: 34px;
  font-weight: 40;
  color: rgb(119, 187, 226);
  text-decoration: none;
  text-transform: none;
  font-family: "Lora", serif;
}

.frontendNLetter {
  /* 10 unique CSS properties */
  font-size: 31px;
  font-weight: bold;
  color: rgb(96, 177, 130);
  text-decoration: overline underline;
  text-transform: none;
  font-family: "Pochaevsk", serif;
}

/* DEVELOPER word */

.developerELetter,
.developerLLetter,
.takeTLetter,
.takeELetter,
.gardeningRLetter,
.becauseELetter,
.becauseETwoLetter,
.theyHLetter,
.wantedNLetter,
.wantedALetter,
.improveRLetter,
.improvePLetter,
.toOLetter,
.theirTLetter,
.skillsKLetter {
  font-size: 18px;
  font-weight: lighter;
  color: #3357ff;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: "Times New Roman", serif;
}

/* TAKE word */

/* UP word */

/* GARDENING word */

.gardeningGLetter {
  font-size: 14px;
  font-weight: bold;
  color: #ff5733;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
}
.gardeningALetter {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}
.gardeningDLetter {
  font-size: 22px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}
.gardeningELetter {
  font-size: 16px;
  font-weight: 600;
  color: #a133ff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Georgia", serif;
}
.gardeningNLetter {
  font-size: 14px;
  font-weight: 700;
  color: #33ffa1;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Tahoma", sans-serif;
}
.gardeningILetter {
  font-size: 11px;
  font-weight: 800;
  color: #ff5733;
  text-decoration: overline;
  text-transform: capitalize;
  font-family: "Impact", sans-serif;
}
.gardeningNTwoLetter {
  font-size: 16px;
  font-weight: bold;
  color: #ff5733;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
}
.gardeningGTwoLetter {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}

/* BECAUSE word */

.becauseALetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}
.becauseSLetter {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}

/* THEY word */

.theyTLetter {
  font-size: 30px;
  font-weight: bold;
  color: rgb(57, 174, 179);
  text-decoration: line-through;
  text-transform: none;
  font-family: "Noto Serif", serif;
}

.theyELetter {
  font-size: 30px;
  font-weight: bold;
  color: rgb(57, 174, 179);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Noto Serif", serif;
}

/* WANTED word */

.wantedWLetter {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}

/* TO word */

.toTLetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}

/* IMPROVE word */

.improveOLetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}

/* THEIR word */

.theirHLetter {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}
.theirILetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}

/* ROOT word */

.rootRLetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}
.rootOTwoLetter {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}

/* SKILLS word */

.skillsSLetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}

.skillsILetter {
  font-size: 18px;
  font-weight: 450;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}

.skillsSTwoLetter {
  font-size: 24px;
  font-weight: bolder;
  color: #ff33a1;
  text-decoration: none;
  text-transform: none;
  font-family: "Verdana", sans-serif;
}

/* SYMBOLS */

.hyphen {
  font-size: 18px;
  font-weight: normal;
  color: #33ff57;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: "Courier New", monospace;
}
